[Unit]
Description=Add host route via Tailscale container
After=docker-compose-auto.service
Requires=docker-compose-auto.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
# Service Type
Type=oneshot
RemainAfterExit=yes

# Execution Commands
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/tailscale-host-routing.sh

# Restart Behavior
Restart=on-failure
RestartSec=5s

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tailscale-host-routing

[Install]
WantedBy=multi-user.target
